﻿@model IEnumerable<BlogEngine.Web.ViewModels.CommentViewModel>

@{
    var comments = Model;
}

@if (comments.Count() > 0)
{
    foreach (var comment in comments)
    {
        <div class="form-group comment-area">
            <img src="/Assets/Clients/images/about-me.jpg" class="img-circle navbar-left" alt="No name" width="50" height="50" />
            <div class="col-sm-11">
                <ul class="list-unstyled">
                    <li>
                        <small><a href="#" id="lblCommentUserName_@comment.ID">@comment.Name</a></small>
                    </li>
                    <li id="lblCreatedDate_@comment.ID">@comment.CreatedDate.Value.ToString("dd MMMM yyyy")</li>
                </ul>
            </div>

            <div class="col-sm-11 comment-text-display">
                <p id="comment-display_@comment.ID">@comment.Content</p>

                <ul class="list-unstyled nav-pills">
                    <li class="nav-item">
                        <a class="btnLikeComment"
                           name="likeComment"
                           href="#"
                           id="like_@comment.ID">
                            Like
                            <i class="fa fa-thumbs-up"></i>
                            &nbsp;
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btnReplyComment"
                           name="replyComment"
                           href="#"
                           id="reply_@comment.ID">
                            Reply
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>
                    <li class="nav-item"> &nbsp; | &nbsp;</li>
                    <li id="btnShowAllNumberCommentLikes_@comment.ID" class="nav-item" role="presentation">
                        <a class="nav-link text-muted small" href="#">
                            @if (comment.CountLikes > 1)
                            {
                                <small id="small-numberOfCommentLikes_@comment.ID">@comment.CountLikes Likes &nbsp;</small>
                            }
                            else
                            {
                                <small id="small-numberOfCommentLikes_@comment.ID">@comment.CountLikes Like &nbsp;</small>
                            }
                        </a>
                    </li>

                    <li id="btnShowAllNumberCommentReply_@comment.ID" class="nav-item" role="presentation">
                        <a class="nav-link text-muted small" href="#">
                            @if (comment.CountReplyComments > 1)
                            {
                                <small id="small-numberOfReplyComments_@comment.ID"
                                       class="small-numberOfReplyComments">@comment.CountReplyComments Replies</small>
                            }
                            else
                            {
                                <small id="small-numberOfReplyComments_@comment.ID"
                                       class="small-numberOfReplyComments">@comment.CountReplyComments Reply</small>
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="comment_@comment.ID" class="reply"></div>
    }
}
<script src="~/Assets/Clients/js/controllers/commentAreaController.js"></script>