﻿<form id="frm_comment">
    <div id="comment-text" class="form-group comment-area" hidden="hidden">
        <img src="~/Assets/Clients/images/about-me.jpg"
             class="img-circle navbar-left"
             alt="No name" width="50" height="50" />
        <div class="col-sm-11">
            <input id="txtName"
                   name="name"
                   type="text"
                   class="form-control" placeholder="Name" />

            <input id="txtEmail"
                   name="email"
                   type="email"
                   class="form-control small-space" placeholder="Email" />

            <textarea class="form-control small-space"
                      placeholder="Add a comment..."
                      id="txtComment"
                      cols="20" rows="2" style="overflow:auto"></textarea>
        </div>
    </div>

    <div class="form-group" hidden="hidden" id="post_comment">
        <div class="col-sm-offset-1 col-sm-10">
            <button id="btnPostComment" type="submit" class="btn btn-primary btn-post-comment">Post</button>
        </div>
    </div>
</form>
