﻿@model IEnumerable<BlogEngine.Web.ViewModels.ReplyCommentViewModel>

@{
    var replyComments = Model;
}

@if (replyComments.Count() > 0)
{
    foreach (var replyComment in replyComments)
    {
        <div class="form-group reply-area">
            <img src="/Assets/Clients/images/about-me.jpg" class="img-circle navbar-left" alt="No name" width="50" height="50" />
            <div class="col-sm-11">
                <ul class="list-unstyled">
                    <li>
                        <small><a href="#" id="lblReplyCommentUserName_@replyComment.Id">@replyComment.Name</a></small>
                    </li>
                    <li id="lblCreatedDate_@replyComment.Id">@replyComment.CreatedDate.Value.ToString("dd MMMM yyyy")</li>
                </ul>
            </div>

            <div class="col-sm-11 comment-text-display">
                <p id="reply-display_@replyComment.Id">@replyComment.Content</p>
                <ul class="list-unstyled nav-pills">
                    <li class="nav-item">
                        <a class="btnLikeComment"
                           name="likeComment"
                           href="#"
                           id="like_@replyComment.Id">
                            Like
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btnReplyPersonComment"
                           name="replyComment"
                           href="#"
                           id="reply_@replyComment.Id">
                            Reply
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="reply_@replyComment.Id" class="reply-comment"></div>
    }
}