﻿@model IEnumerable<BlogEngine.Web.ViewModels.ReplyCommentViewModel>
@{
    var replyComments = Model;
    var commentId = ViewBag.CommentId;
    var _ReplyCommentArea = BlogEngine.Common.Constants.ViewUrl._ReplyCommentArea;
}
<div class="clearfix"></div>
<hr />
<form class="form-horizontal" id="frm_replyComment">
    <div class="form-group reply-area">
        <input type="text" hidden="hidden" id="txtCommentId" value="@commentId"/>
        <img src="~/Assets/Clients/images/about-me.jpg" class="img-circle navbar-left" alt="No name" width="50" height="50" />
        <div class="col-sm-10">
            <input id="txtReplyName"
                   name="replyName"
                   type="text"
                   class="form-control" placeholder="Name" />

            <input id="txtReplyEmail"
                   name="replyEmail"
                   type="email"
                   class="form-control small-space" placeholder="Email" />

            <textarea class="form-control small-space"
                      placeholder="Reply a comment..."
                      name="replyComment"
                      id="txtReplyComment"
                      cols="20"
                      rows="2"
                      style="overflow:auto"></textarea>
        </div>
    </div>

    <div class="form-group navbar-left reply-area" hidden="hidden" id="reply-comment">
        <div class="col-sm-offset-1 col-sm-10">
            <button id="btnPostReplyComment" type="submit" class="btn btn-primary btn-reply-comment">Reply</button>
        </div>
    </div>
</form>
<div class="clearfix"></div>

<div id="replyComment-area">
    @Html.Partial(_ReplyCommentArea, replyComments)
</div>
<script src="~/Assets/Clients/js/controllers/replyCommentController.js"></script>