﻿/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

@media screen and (max-width: 600px) {
    .callbacks_nav {
        top: 47%;
    }
}

h3.tittle.media {
    margin-top: 1em;
}

.response h4 {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.media-left.response-text-left {
    float: left;
    width: 19%;
}

.response-text-right p {
    color: #777;
    font-size: 0.9em;
    margin: 0 0 1em;
    line-height: 1.9em;
}

.media-body.response-text-right ul li {
    color: #F26649;
    font-size: 0.9em;
    display: inline-block;
    font-weight: 400;
}

    .media-body.response-text-right ul li a {
        color: #4a245e;
        font-size: 1em;
        display: block;
        margin-top: 6px;
        margin-left: 2em;
    }

.media-body.response-text-right {
    float: right;
    width: 77%;
    text-align: left;
}

.media-left.response-text-left h5 a {
    color: #4A245E;
    font-weight: 400;
    line-height: 2em;
}


.media-left.response-text-left a img {
    border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.media-body.response-text-right ul li a:hover {
    text-decoration: none;
    color: #f26649;
}


@media (max-width:384px) {
    
    .media-left.response-text-left {
        float: left;
        width: 100%;
    }

    .media-body.response-text-right {
        float: right;
        width: 100%;
        text-align: left;
    }

    
}


@media (max-width:320px) {
    span.menu {
        width: 35px;
        height: 35px;
        background: url(../images/nav.png) no-repeat 0px 0px;
        display: block;
        cursor: pointer;
        margin: 1em 7.4em;
    }

    .media-left.response-text-left {
        float: left;
        width: 100%;
    }

    .media-body.response-text-right {
        float: right;
        width: 100%;
        text-align: left;
    }

    
}
