.number-of-comments {
    color: #337ab7 !important;
}

.post-image {
    width: 100% !important;
}

.post-quote {
    background: #1abc9c;
    color: #f6f8f8;
    width: 70%;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-autocomplete-post {
    height: 35px;
    font-size: 13pt;
}

.post-suggestion {
    line-height: 10pt;
    font-size: initial;
}

.post-suggestion-text {
    color: #f0ad4e !important;
    font-size: 9pt !important;
}

.contact-fields-textbox-error {
    border: 0.75px solid #dc3545 !important;
}

.contact-fields-label-error {
    color: #dc3545 !important;
}
