@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Blog Engine</title>
    <meta name="viewport" content="width=device-width" />
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website Landing Page for Developers">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <!--jQuery UI - v1.12.1-->
    <link href="~/Scripts/Plugins/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!--CSS-->
    <link href="~/Scripts/Plugins/jquery-typeahead/dist/jquery.typeahead.min.css" rel="stylesheet" />
    <!--Bootstrap v3.3.7-->
    <link href="~/Scripts/Plugins/boostrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--Toastr v2.1.3-->
    <link href="~/Scripts/Plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Plugins CSS -->
    <!--font-awesome 4.7.0 -->
    <link href="~/Scripts/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--github-activity-->
    <link href="~/Scripts/Plugins/github-activity/src/github-activity.css" rel="stylesheet" />
    <!--octicons.min.css-->
    <link href="~/Scripts/Plugins/octicons/dist/css/octicons.min.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link href="~/Assets/Clients/css/styles.css" rel="stylesheet" />
    <link href="~/Assets/Clients/css/custom.css" rel="stylesheet" />
</head>
<body>
    @{ Html.RenderAction("Header", "Home"); }
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                @{ Html.RenderAction("BreadCrumb", "BreadCrumb", new { categoryId = ViewBag.CategoryId, subcategoryId = ViewBag.SubCategoryId }); }
                @RenderBody()
            </div>

            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                @{ Html.RenderAction("Category", "Home"); }
                @{ Html.RenderAction("LastestComment", "Home"); }
            </div>
        </div>
    </div>

    <!--Using RenderPartial when render static Html-->
    @{ Html.RenderAction("Footer", "Home"); }

    <!-- Javascript -->
    <!--jQuery v3.3.1-->
    <script src="~/Scripts/Plugins/jquery/dist/jquery.min.js"></script>
    <!--jQuery UI - v1.12.1-->
    <script src="~/Scripts/Plugins/jquery-ui/jquery-ui.min.js"></script>
    <!--jQuery Validation Plugin - v1.17.0-->
    <script src="~/Scripts/Plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <!--jQuery typehead - v2.10.4-->
    <script src="~/Scripts/Plugins/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
    <!--Bootstrap v3.3.7-->
    <script src="~/Scripts/Plugins/boostrap/dist/js/bootstrap.min.js"></script>
    <!--Bootstrap-treeview.js v1.2.0-->
    <script src="~/Scripts/Plugins/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <!--Toastr v2.1.3-->
    <script src="~/Scripts/Plugins/toastr/toastr.min.js"></script>
    <!--Scripts controllers-->
    <script src="~/Assets/Clients/js/controllers/categoryController.js"></script>
    <script src="~/Assets/Clients/js/controllers/commonController.js"></script>
</body>
</html>
