<!--Starting Rendering Category-->
<aside class="credits aside section">
    <div class="section-inner">
        <h2 class="heading">Blog Categories</h2>
        <div class="content">
            <ul class="list-unstyled">               
                <li>
                    <div id="tree"></div>
                </li>
            </ul>
            <hr />
        </div>
    </div>
</aside>
<!--Ending Rendering Category-->
