<!--Starting Rendering Category-->
<aside class="credits aside section">
    <div class="section-inner">
        <h2 class="heading">Blog Categories</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><a href="" target="_blank"><i class="fa fa-external-link"></i> Bootstrap</a></li>
                <li><a href="" target="_blank"><i class="fa fa-external-link"></i> FontAwesome</a></li>
                <li><a href="" target="_blank"><i class="fa fa-external-link"></i> jQuery</a></li>
                <li><a href="" target="_blank"><i class="fa fa-external-link"></i> GitHub Calendar Plugin</a></li>

                <li><a href="" target="_blank"><i class="fa fa-external-link"></i> GitHub Activity Stream</a></li>

                <li><a href="" target="_blank"><i class="fa fa-external-link"></i> jQuery RSS</a></li>
            </ul>
            <hr />
        </div>
    </div>
</aside>
<!--Ending Rendering Category-->