﻿<!--Starting Rendering News Letter-->
<aside class="info aside section">
    <div class="section-inner">
        <p class="h3">Subscribe to the newsletter </p>
        <hr class="divider" />
        <div class="content">
            <ul class="list-unstyled">
                <li>
                    <input type="text" class="form-control" placeholder="Your email" />
                </li>
                <li>
                    <button type="submit" class="btn btn-default">Subscribe</button>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!--Ending Rendering News Letter-->
