﻿@model IEnumerable<BlogEngine.Web.ViewModels.PostViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var posts = Model;
}


<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">Latest Blogs</h2>
        <div class="content">
            @foreach (var post in posts)
            {
                var blogUrl = "/post/" + post.Slug + "/" + post.ID;
                <div class="item row">
                    <a class="col-md-4 col-sm-4 col-xs-12" href="@blogUrl" target="_self">
                        <img class="img-responsive project-image"
                             src="~/Assets/Clients/images/projects/project-5.png"
                             alt="@post.Name" />
                    </a>
                    <div class="desc col-md-8 col-sm-8 col-xs-12">
                        <h3 class="title">
                            <a href="@blogUrl" target="_self">@post.Name</a><br />
                            <small class="text-muted">@post.CreatedDate.Value.ToString("dd/MMM/yy") by</small>
                            <a href="#">
                                <span class="badge">@post.CreatedBy</span>
                            </a>
                            <a href="#">
                                @if (post.CountComments > 1)
                                {
                                    <small class="text-primary number-of-comments">@(post.CountComments) comments</small>
                                }
                                else
                                {
                                    <small class="text-primary number-of-comments">@(post.CountComments) comment</small>
                                }
                            </a>
                        </h3>
                        <p>@(post.Summary)...</p>
                        <p>
                            <a class="more-link" href="@blogUrl" target="_self">
                                <i class="fa fa-external-link"></i> Find out more
                            </a>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

