
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">About me</h2>
        <div class="content">
            <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12" href="#" target="_blank">
                    <img class="img-responsive project-image"
                         src="~/Assets/Clients/images/about-me.jpg" />
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                    <p>
                        Mình là Bùi Vương Khánh, là một .Net Developer, đang sống và làm việc tại NashTech Vietnam Hồ Chí Minh .
                    </p>

                    <p>
                        Các bạn có thể liên hệ với mình qua email bvkhanh0502@gmail.com để chia sẻ những vấn đề về lập trình hoặc rủ đi câu cá :)
                    </p>

                    <h4 class="mb-3">Về blog này.</h4>
                    <p>Mình viết blog này từ năm 2018 , với mục đích để nâng cao khả năng diễn đạt trình bày vấn đề, lưu trữ lại những gì mình đã học được để xem lại khi cần, cũng như chia sẻ những kiến thức cho mọi người.</p>

                    <p>Nội dung các bài viết của blog dựa trên những vấn đề mình gặp phải trong quá trình làm việc, hoặc một số nội dung hay mình đọc được từ internet, muốn chia sẻ để những ai gặp phải vấn đề giống mình sẽ đỡ tốn thời gian hơn.</p>

                </div>
            </div>
        </div>
        <hr class="divider" />

        <div class="wrapper-contact p-3 bg-faded">
            <h4><span>Leave a reply</span></h4>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control text-box single-line"
                       id="txtName"
                       name="Name" type="text" />

            </div>

            <div class="form-group">
                <label>Email</label>
                <input class="form-control text-box"
                       id="txtEmail"
                       name="Email"
                       type="email" />
            </div>

            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control"
                          cols="20"
                          id="txtMessage"
                          name="Message" rows="5">    
                </textarea>
            </div>
        </div>
    </div>
</section>