﻿@model BlogEngine.Web.ViewModels.PostViewModel
@{
    ViewBag.Title = "Post Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var post = Model;
}
<section class="latest section">
    <div class="section-inner">
        <div class="content">

            <h3 class="title">
                <input type="hidden" id="txtPostId" name="postId" value="@post.ID" />
                <label>@post.Name</label><br />
                <small class="text-muted">@post.CreatedDate.Value.ToString("MMMM dd, yyyy") by</small>
                <a href="#">
                    <span class="badge">@post.CreatedBy</span>
                </a>
                <a href="#" id="btnCountComments">
                    @if (post.CountComments > 1)
                    {
                        <small id="numberOfComments" class="text-primary number-of-comments">@post.CountComments comments</small>
                    }
                    else
                    {
                        <small id="numberOfComments" class="text-primary number-of-comments">@post.CountComments comment</small>
                    }
                </a>
            </h3>

            <div>
                <img class="post-image" src="~/Assets/Clients/images/projects/project-featured.png" />
            </div>
            <!--Post Content Start-->
            <p>
                @post.Content
            </p>
            <!--Post Content End-->
            <!-- Post Blockquote Start -->
            <div>
                <blockquote class="blockquote">
                    <h4>Quote</h4>
                    <p>@post.Quote</p>
                </blockquote>
            </div>
            <!-- Post Blockquote End -->
            <!--Post Comments and Likes Start-->
            <div class="form-group" id="count-likes-comments">
                <ul class="nav nav-pills">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-muted small" href="#">
                            <small>@post.CountLikes Likes</small>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-muted small" href="#">
                            <small>@post.CountComments Comments</small>
                        </a>
                    </li>
                </ul>
            </div>
            <hr />
            <div class="clearfix"></div>
            <div class="form-group">
                <ul class="nav nav-pills">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#" id="likes">
                            Like
                            <i class="fa fa-thumbs-up"></i>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" role="presentation" href="#" id="comments">
                            Comment
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <br />
            <!--Post Comments and Likes End-->
            <form class="form-horizontal" id="frm_comment">
                <div id="comment-text" class="form-group comment-area" hidden="hidden">
                    <img src="~/Assets/Clients/images/about-me.jpg" class="img-circle navbar-left" alt="No name" width="50" height="50" />
                    <div class="col-sm-11">
                        <textarea class="form-control"
                                  placeholder="Add a comment..."
                                  id="txtComment"
                                  cols="20" rows="2" style="overflow:auto"></textarea>
                    </div>
                </div>
                <div class="form-group" hidden="hidden" id="post_comment">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button id="btnPostComment" type="submit" class="btn btn-primary btn-post-comment">Post</button>
                    </div>
                </div>

                <div id="comment-area">
                
                </div>
            </form>
        </div>
    </div>
</section>
@section PostJS{
    <script src="~/Assets/Clients/js/controllers/_commentController.js"></script>
}